################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EMP_Project.slnx/FileContentIndex/46700937-0ddb-4bb8-af0d-e399e702af0a.vsidx
